html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Ocean Trace';
  src: url('../../assets/OceanTrace.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Livvic';
  src: url('../../assets/Livvic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.gallery-container {
  flex: 1;      
  padding: 2rem 5%;
  background: linear-gradient(to bottom, #b3e0f2, #358dbd);
  color: #fff;
  min-height: 100%;
}

.event-instructions {
  font-family: 'Livvic', sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.gallery-title {
  font-family: 'Ocean Trace', sans-serif;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.event-section {
  margin-bottom: 3rem;
}

.event-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: 'Livvic', sans-serif;
}

.masonry {
  column-count: 3;
  column-gap: 16px;
}

.masonry-img {
  width: 100%;
  display: block;
  margin-bottom: 16px;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.masonry-img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1024px) {
  .masonry {
    column-count: 2;
  }
}

@media (max-width: 640px) {
  .masonry {
    column-count: 1;
  }
}
