.pulse-marker {
  position: relative;
  width: 60px;
  height: 60px;
}

.pulse {
  position: absolute;
  width: 60px;
  height: 60px;
  background: rgba(53, 141, 189, 0.4);
  border-radius: 50%;
  animation: pulseAnim 1.5s infinite;
  top: 0;
  left: 0;
  transform: scale(1);
}

.icon {
  position: absolute;
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
}

@keyframes pulseAnim {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    transform: scale(2);
    opacity: 0.25;
  }
  100% {
    transform: scale(3);
    opacity: 0.1;
  }
}
